<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"  type="text/css" href="{{url_for('.static', filename='style.css')}}">

    <title>首頁</title>
</head>
<body>
    <div class="top-area">
        <h1>歡迎光臨，請輸入帳號密碼</h1>
    </div>
    <form action="/signin" method="POST">
        <h3>登入系統</h3>
        <div>
            帳號 <input type="text" name="userName"/>
        </div>
        <div>
            密碼 <input type="text" name="password"/>
        </div>
        <div>
            <button>登入</button>
        </div>
    </form>
    <hr>
    <form action="/calculateSquare">
        <h3>計算正整數的平方</h3>
        <div>
            正整數 <input type="text" name="number"/>
        </div>
        <div>
            <button>計算</button>
        </div>
    </form>
</body>
</html>