<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"  type="text/css" href="{{url_for('.static', filename='style.css')}}">
    <title>會員頁面</title>
</head>
<body>
    <div class="top-area">
        <h1>歡迎光臨，這是會員頁</h1>
    </div>
    <div class="content-container">｀
        <h3>{{currentusername}}，歡迎登入系統</h3>
        <a href="/signout">登出系統</a>
    </div>
    <a href="/member">退回 mem 頁面</a>
    <div class="content-container">
        <h3>查詢會員姓名</h3>
        <input type="text" name="susername"/>
        <button id="search-button" onclick="onClick()">查詢</button>
        <!-- <div id="result-area"></div> -->
        <p id="result-area"></p>
    </div>
</body>
<script>

    let name = "";

    // 前端從欄位拿到要的值
    function onClick() {
        let btn = document.getElementById("search-button");
        susername = btn.previousElementSibling.value;
        console.log("username received from form: "+susername);

         // 把欄位的值打回後端去搜資料庫
        fetch("/api/member",{
            method:"POST",
            headers:{'content-type': 'application/json'},
            body: JSON.stringify({
                "susername" : susername
            })
        }).then(function(response){
            console.log(response.status);
            return response.text();
        // promise 的概念
        }).then(function(json){ 
            // JSON is a string, so it doesn't have that property. 
            // We have to change it into object if we want to use it as an object
            let object = JSON.parse(json);
            // console.log(json);
            // console.log("object: "+object);
            // console.log("json data: "+object.data.name);
            // console.log("json dara id: "+object.data.username);
            if (object.data != "null"){
                // createElement 在我們的頁面中
                let name = object.data.name;
                let username = object.data.username;
                let resultText = document.querySelector("#result-area")
                resultText.innerHTML = name+"("+username+")";
            }else{
                let resultText = document.querySelector("#result-area")
                resultText.innerHTML = "查無此使用者";
                // resultText.innerHTML = json.data;
            }
        });
    

    }

   
    
</script>

</html>