<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"  type="text/css" href="{{url_for('.static', filename='style.css')}}">
    <title>會員頁面</title>
</head>
<body>
    <div class="top-area">
        <h1>歡迎光臨，這是會員頁</h1>
    </div>
    <div class="content-container">｀
        <h3 id="current-name">{{currentname}}，歡迎登入系統</h3>
        <a href="/signout">登出系統</a>
    </div>
    <div class="content-container">
        <h3>查詢會員姓名</h3>
        <input type="text" name="qusername"/>
        <button id="query-button" onclick="onClickQuery()">查詢</button>        
        <p id="query-result-area"></p>
    </div>
    <div class="content-container">
        <h3>更新會員姓名</h3>
        <input type="text" name="uname"/>
        <button id="update-button" onclick="onClickUpdate()">更新</button>
        <p id="update-result-area"></p>
    </div>
</body>
<script>
   

    // const myInit = {
    //     method: 'GET',
    //     headers: myHeaders,
    //     mode: 'cors',
    //     cache: 'default',
    // };


    // 搜尋帳號：前端從欄位拿到要的值
    function onClickQuery() {
        let btn = document.getElementById("query-button");
        qusername = btn.previousElementSibling.value;
        const params = {
            "qusername": qusername,
        };
         // 利用欄位的值去請求後端搜尋資料庫
        fetch("/api/member?username="+qusername,{
            method:"GET",
            headers:{
                'content-type': 'application/json',
            },
        }).then(function(response){
            // console.log(response.status);
            return response.text();
        }).then(function(json){ 
            // JSON is a string, so it doesn't have that property. 
            // We have to change it into object if we want to use it as an object
            let object = JSON.parse(json);
            console.log("object", object);
            let resultText = document.querySelector("#query-result-area")
            if (object.data != null){
                let name = object.data.name;
                let username = object.data.username;
                resultText.innerHTML = name+" ("+username+")";
            }else{
                resultText.innerHTML = "查無此使用者";
            }
        });
    }

    // 更新帳號：前端從欄位拿到要更新的值
    function onClickUpdate() {
        let btn = document.getElementById("update-button");
        uname = btn.previousElementSibling.value;
         // 利用欄位的值去請求後端更新資料庫
        fetch("/api/member",{
            method:"PATCH",
            headers:{'content-type': 'application/json'},
            body: JSON.stringify({
                "name" : uname
            })
        }).then(function(response){
            return response.text();
        }).then(function(json){ 
            let object = JSON.parse(json);
            let resultText = document.querySelector("#update-result-area")
            let currentName = document.querySelector("#current-name")
            if (object.ok == true){
                resultText.innerHTML = "更新成功";
                console.log(currentName);
                currentName.innerHTML = uname+"，歡迎登入系統";
                console.log("change:"+currentName);
            }else{
                resultText.innerHTML = "更新失敗QQ";
            }
        });
    

    }

   
    
</script>

</html>