/* UTILITIES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    min-width: 360px;
    font-family: cursive;
}
a {
    text-decoration: none;
}
li {
    list-style: none;
}
h5{
    font-size: 20px;
}


/********** NAVBAR STARTS **********/
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: black;
    padding: 10px;
}
.nav-links a {
    color: black;
}
/* LOGO */
.logo {
    font-size: 20px;
    font-weight: bolder;
}
/* NAVBAR MENU */
.menu {
    display: flex;
    gap: 1em;
    font-size: 18px;
}
/* DROPDOWN MENU */
.services {
    position: relative; 
}
.dropdown {
    padding: 1em 0;
    position: absolute; /*WITH RESPECT TO PARENT*/
    display: none;
    border-radius: 8px;
    top: 35px;
}
.dropdown li + li {
    margin-top: 10px;
}
.dropdown li {
    padding: 0.5em 1em;
    width: 8em;
    text-align: center;
}
.dropdown li:hover {
    background-color: #4c9e9e;
}
.services:hover .dropdown {
    display: block;
}


/********** RESPONSIVE NAVBAR MENU STARTS *********/
/* CHECKBOX HACK */
input[type=checkbox]{
    display: none;
}  
/*HAMBURGER MENU*/
.hamburger {
    display: none;
    font-size: 24px;
    user-select: none;
}
/* APPLYING MEDIA QUERIES */
@media (max-width: 768px) {
   .menu { 
    min-width: 360px;
    display:none;
    position: absolute;
    background-color:white;
    right: 0;
    left: 0;
    text-align: center;
    padding: 16px 0;
   }
   .menu li:hover {
    display: inline-block;
    background-color:#4c9e9e;
    transition: 0.3s ease;
   }
   .menu li + li {
    margin-top: 12px;
   }
   input[type=checkbox]:checked ~ .menu{
    display: block;
   }
   .hamburger {
    display: block;
   }
   .dropdown {
    left: 50%;
    top: 30px;
    transform: translateX(35%);
   }
   .dropdown li:hover {
    background-color: #4c9e9e;
   }
}

/********** BANNER STARTS **********/
.banner{
    min-width: 360px;
    height: 300px;
    background-color: rgb(216, 229, 246);
    display: flex;
    align-items: center;
}
.banner h1{
    min-width: 360px;
    margin: 0 auto;
    font-size: 2rem;
}


/********** BODY COLUMN START **********/

.grid{
	width: 1200px;
	margin: 20px auto;
    padding: 10px;
}
.promotions-container{
    display: flex;
    align-items: center;
    height: 50px;
}
.promotions-container h5{
    margin-left: 10px;
}
.col-50{
	width: 49%;
	float: left;
    background-color: rgb(216, 229, 246);
    margin: 0.5%;
    align-items: center;
}
.col-25{
    height: 270px;
	width: 24%;
	float: left;
    background-color: rgb(216, 229, 246);
    text-align: center;
    margin: 0.5%;
}
.small-img-container{
    height: 50px;
    width: 80px;
    overflow: hidden;
    float: left;
}
.small-img-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.large-img-container{
    height: 200px;
    overflow: hidden;
}
.large-img-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (min-width: 600px) and (max-width:1201px) {
	.grid{
        width: 90%;
    }
    .col-50{
        width: 49%;
        margin: 0.5%;
    }
    .col-25{
        width: 49%;
        margin: 0.5%;
    }
}

@media (min-width: 360px) and (max-width:601px) {
    .banner{
        height: 500px;
    }
	.grid{
        width: 90%;
    }
    .col-50{
        width: 100%;
        margin: 2% 0;
    }
    .col-25{
        width: 100%;
        margin: 2% 0;
    }
    .large-img-container{
        height: 200px;
    }
}

@media (max-width: 360px){
    .banner{
        height: 500px;
    }
	.grid{
        width: 90%;
    }
    .col-50{
        width: 100%;
        margin: 2% 0;
    }
    .col-25{
        width: 100%;
        margin: 4% 0;
    }
    .large-img-container{
        height: 200px;
    }
}